@model DIY_v2.Models.Member

@{
    ViewBag.Title = "BasicData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/static/js/jquery.min.js"></script>

<style>
    @@font-face {
        font-family: "Poppins-Regular";
        src: url("../fonts/poppins/Poppins-Regular.ttf");
    }

    @@font-face {
        font-family: "Poppins-SemiBold";
        src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
        margin: 0;
    }

    input, textarea, select, button {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
    }

    p, h1, h2, h3, h4, h5, h6, ul {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    a:hover {
        text-decoration: none;
    }

    :focus {
        outline: none;
    }

    .wrapper {
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .inner {
        padding: 20px;
        background: #fff;
        max-width: 850px;
        margin: auto;
        display: flex;
    }

        .inner .image-holder {
            width: 50%;
            margin-top: 105px;
        }

        .inner form {
            width: 50%;
            padding-top: 36px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .inner h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-family: "Poppins-SemiBold";
            text-align: center;
            margin-bottom: 28px;
        }

    .form-group {
        display: flex;
    }

        .form-group input {
            width: 50%;
        }

            .form-group input:first-child {
                margin-right: 25px;
            }

    .form-wrapper {
        position: relative;
    }

        .form-wrapper i {
            position: absolute;
            bottom: 9px;
            right: 0;
        }

    .form-control {
        border: 1px solid #333;
        border-top: none;
        border-right: none;
        border-left: none;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: 25px;
    }

        .form-control::-webkit-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control::-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-ms-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        padding-left: 20px;
    }

        select option[value=""][disabled] {
            display: none;
        }

    button, .buttonA {
        border: none;
        width: 164px;
        height: 51px;
        margin: auto;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #333;
        font-size: 15px;
        color: #fff;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    button, buttonA i {
        margin-left: 10px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    button, buttonA:hover i, button, buttonA:focus i, button, buttonA:active i {
        -webkit-animation-name: hvr-icon-wobble-horizontal;
        animation-name: hvr-icon-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    @@-webkit-keyframes hvr-icon-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }

        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@keyframes hvr-icon-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }

        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@media (max-width: 1199px) {
        .wrapper {
            background-position: right center;
        }
    }

    @@media (max-width: 991px) {
        .inner form {
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    @@media (max-width: 767px) {
        .inner {
            display: block;
        }

            .inner .image-holder {
                width: 100%;
            }

            .inner form {
                width: 100%;
                padding: 40px 0 30px;
            }
    }

    .buttonA {
        margin-top: -10px;
    }
    /*# sourceMappingURL=style.css.map */

</style>
@*<script src="~/static/js/jquery.min.js"></script>
    <script>
        $(function () {
            $("#datefield").datepicker();
         });
    </script>*@

<div class="wrapper" style="background-image: url('/Images/元件/登入背景11.jpg'); ">
    <div class="inner">
        <div class="image-holder">
            <img src="~/Images/元件/登入背景14.jpg" alt="">
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>會員基本資料</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MemberID)*@

        <div class="form-wrapper">
            <h5 style="color:springgreen">@Session["memberEdit"]</h5>
        </div>
        <br />
        <div class="form-wrapper">
            <h6>會員帳號 : <a style="font-size:18px;">@ViewBag.MemberAccount</a></h6>
            <input type="hidden" name="name" value="" />
        </div>
        <br>

        <div class="form-wrapper">
            <h6>會員姓名</h6>

            @Html.TextBoxFor(model => model.MemberName, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })

        </div>

        <div class="form-wrapper">
            <h6>會員性別</h6>

            @Html.RadioButtonFor(m => m.MemberGender, "M")<label>男性</label>
            @Html.RadioButtonFor(m => m.MemberGender, "F")<label>女性</label>
            @Html.ValidationMessageFor(model => model.MemberGender, "", new { @class = "text-danger" })

        </div>

        <div class="form-wrapper">
            <h6>會員生日</h6>

            @Html.TextBoxFor(model => model.MemberBirthday, "{0:yyyy/MM/dd}", htmlAttributes: new { @class = "form-control", @id = "datefield" })
            @*@Html.EditorFor(model => model.MemberBirthday.ToShortDateString(), new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.MemberBirthday, "", new { @class = "text-danger" })

        </div>

        <div class="form-wrapper">
            <h6>會員暱稱</h6>

            @Html.EditorFor(model => model.MemberNickname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MemberNickname, "", new { @class = "text-danger" })

        </div>

        <div class="form-wrapper">
            <h6>會員信箱</h6>

            @Html.EditorFor(model => model.MemberEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MemberEmail, "", new { @class = "text-danger" })

        </div>

        <div class="form-wrapper">
            <h6>會員地址</h6>

            @Html.EditorFor(model => model.MemberAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MemberAddress, "", new { @class = "text-danger" })

        </div>

        <div class="form-wrapper">
            <h6>會員手機</h6>

            @Html.EditorFor(model => model.MemberPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MemberPhone, "", new { @class = "text-danger" })

        </div>


        <input type="submit" value="修改" class="buttonA" />
        @*<input id="theBtnForEdit" type="submit" value="修改" class="buttonA" onclick="return confirm('資料修改完成')" />*@
    </div>
        }

    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    //function showMsg() {
    //    alert("資料修改完成");
    //}
    //$("#theBtnForEdit").click(function () {
    //    alert("資料修改完成");
    //})
</script>