@model DIY_v2.Models.Member

@{
    ViewBag.Title = "師傅註冊";
}
<style>
    @@font-face {
        font-family: "Poppins-Regular";
        src: url("../fonts/poppins/Poppins-Regular.ttf");
    }

    @@font-face {
        font-family: "Poppins-SemiBold";
        src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
        margin: 0;
    }

    input, textarea, select, button {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
    }

    p, h1, h2, h3, h4, h5, h6, ul {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    a:hover {
        text-decoration: none;
    }

    :focus {
        outline: none;
    }

    .wrapper {
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .inner {
        padding: 20px;
        background: #fff;
        max-width: 850px;
        margin: auto;
        display: flex;
    }

        .inner .image-holder {
            width: 50%;
            margin-top: 105px;
        }

        .inner form {
            width: 50%;
            padding-top: 36px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .inner h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-family: "Poppins-SemiBold";
            text-align: center;
            margin-bottom: 28px;
        }

    .form-group {
        display: flex;
    }

        .form-group input {
            width: 50%;
        }

            .form-group input:first-child {
                margin-right: 25px;
            }

    .form-wrapper {
        position: relative;
    }

        .form-wrapper i {
            position: absolute;
            bottom: 9px;
            right: 0;
        }

    .form-control {
        border: 1px solid #333;
        border-top: none;
        border-right: none;
        border-left: none;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: 25px;
    }

        .form-control::-webkit-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control::-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-ms-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        padding-left: 20px;
    }

        select option[value=""][disabled] {
            display: none;
        }

    button, .buttonA {
        border: none;
        width: 164px;
        height: 51px;
        margin: auto;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #333;
        font-size: 15px;
        color: #fff;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    button, buttonA i {
        margin-left: 10px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    button, buttonA:hover i, button, buttonA:focus i, button, buttonA:active i {
        -webkit-animation-name: hvr-icon-wobble-horizontal;
        animation-name: hvr-icon-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    @@-webkit-keyframes hvr-icon-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }

        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@keyframes hvr-icon-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }

        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@media (max-width: 1199px) {
        .wrapper {
            background-position: right center;
        }
    }

    @@media (max-width: 991px) {
        .inner form {
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    @@media (max-width: 767px) {
        .inner {
            display: block;
        }

            .inner .image-holder {
                width: 100%;
            }

            .inner form {
                width: 100%;
                padding: 40px 0 30px;
            }
    }

    .buttonA {
        margin-top: -10px;
    }
    /*# sourceMappingURL=style.css.map */

</style>
@*<script>
        function btclick() {
                 if (!((document.getElementById("MemberPwd").value).match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8, 12}$/)))  {
                    alert("密碼不得空白，最少八個最多十二個字符，至少一個大寫字母，一個小寫字母，一個數字和一個特殊字符");
                    //document.getElementById("MemberPwdError").style.display = "block";
        }
    </script>*@

@*<script type="text/javascript">
        function btclick() {
            if (!((document.getElementById("MemberPwd").value).match("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[$!%*?&])[A-Za-z\\d$!%*?&]{8,12}$"))) {
                alert("密碼不得空白，最少八個最多十二個字符，至少一個大寫字母，一個小寫字母，一個數字和一個特殊字符");
                document.getElementById("PwdErrorTemp").value = "block";
            } else {
                document.getElementById("PwdErrorTemp").value = "none";
            }
        }
    </script>*@
<script src="~/static/js/jquery.min.js"></script>

@*<h2>會員註冊</h2>*@

<div class="wrapper" style="background-image: url('/Images/元件/登入背景11.jpg'); ">
    <div class="inner">
        <div class="image-holder">
            <img src="~/Images/元件/登入背景12.jpg" alt="">
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h3>師傅註冊</h3>
            <button id="autoFill" type="button" class="btn-default">+</button> @*自動帶入註冊資料*@

            <div class="form-group">
                @Html.EditorFor(model => model.MemberAccount, new { htmlAttributes = new { id = "MemberAccount", @class = "form-control", placeholder = "會員帳號" } })
                @Html.ValidationMessageFor(model => model.MemberAccount, "", new { @class = "text-danger" })
                <input type="password" id="MemberPwd" name="MemberPwd" class="form-control  " placeholder="會員密碼" />
                <span id="MemberPwdError" class="field-validation-error text-danger" data-valmsg-for="MemberPwd" data-valmsg-replace="true" style=@ViewData["MemberPwdError"]>密碼不得空白，最少八個最多十二個字符，至少一個大寫字母，一個小寫字母，一個數字和一個特殊字符</span>
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.MemberName, new { htmlAttributes = new { id = "MemberName", @class = "form-control", placeholder = "姓名" } })
                @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                <select name="MemberGender" id="MemberGender" class="form-control">
                    <option value="" disabled selected>性別</option>
                    <option value="M">男</option>
                    <option value="F">女</option>
                </select>

                @*@Html.RadioButtonFor(m => m.MemberGender, "M")<label>男性</label>
                    @Html.RadioButtonFor(m => m.MemberGender, "F")<label>女性</label>
                    @Html.ValidationMessageFor(model => model.MemberGender, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.MemberBirthday, new { htmlAttributes = new { id = "MemberBirthday", @class = "form-control", placeholder = "生日", type = "date" } })
                @Html.ValidationMessageFor(model => model.MemberBirthday, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.MemberNickname, new { htmlAttributes = new { id = "MemberNickname", @class = "form-control", placeholder = "暱稱" } })
                @Html.ValidationMessageFor(model => model.MemberNickname, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.MemberEmail, new { htmlAttributes = new { id = "MemberEmail", @class = "form-control", placeholder = "信箱" } })
                @Html.ValidationMessageFor(model => model.MemberEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.MemberAddress, new { htmlAttributes = new { id = "MemberAddress", @class = "form-control", placeholder = "地址" } })
                @Html.ValidationMessageFor(model => model.MemberAddress, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.MemberPhone, new { htmlAttributes = new { id = "MemberPhone", @class = "form-control", placeholder = "手機" } })
                @Html.ValidationMessageFor(model => model.MemberPhone, "", new { @class = "text-danger" })
                <input type="hidden" name="Permission" value="2" />
            </div>

            <input type="submit" value="會員註冊" class="buttonA" onclick="btclick()" />
            @ViewBag.Message
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        // 自動帶入註冊資料
        $("#autoFill").click(function () {
            $("#MemberAccount").val("taskerbear")
            $("#MemberPwd").val("P@ssw0rd")
            $("#MemberName").val("熊立亥")
            $("#MemberGender").val("M")
            $("#MemberBirthday").val("1987-07-12")
            $("#MemberNickname").val("熊厲害")
            $("#MemberEmail").val("taskerbear33@gmail.com")
            $("#MemberAddress").val("台中市南屯區大英街20號")
            $("#MemberPhone").val("0970-052-182")
        })
    })
</script>