@model DIY_v2.Models.Tasker

@{
    ViewBag.Title = "師傅資料登入";
}

<!-- #region CSS -->
<style>
    @@font-face {
        font-family: "Poppins-Regular";
        src: url("../fonts/poppins/Poppins-Regular.ttf");
    }

    @@font-face {
        font-family: "Poppins-SemiBold";
        src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
        margin: 0;
    }

    input, textarea, select, button {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
    }

    p, h1, h2, h3, h4, h5, h6, ul {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    a:hover {
        text-decoration: none;
    }

    :focus {
        outline: none;
    }

    .wrapper {
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .inner {
        padding: 20px;
        background: #fff;
        max-width: 850px;
        margin: auto;
        display: flex;
    }

        .inner .image-holder {
            width: 50%;
            margin-top: 105px;
        }

        .inner form {
            width: 50%;
            padding-top: 36px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .inner h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-family: "Poppins-SemiBold";
            text-align: center;
            margin-bottom: 28px;
        }

    .form-group {
        display: flex;
    }

        .form-group input {
            width: 50%;
        }

            .form-group input:first-child {
                margin-right: 25px;
            }

    .form-wrapper {
        position: relative;
    }

        .form-wrapper i {
            position: absolute;
            bottom: 9px;
            right: 0;
        }

    .form-control {
        border: 1px solid #333;
        border-top: none;
        border-right: none;
        border-left: none;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: 25px;
    }

        .form-control::-webkit-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control::-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-ms-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        padding-left: 20px;
    }

        select option[value=""][disabled] {
            display: none;
        }

    button, .buttonA {
        border: none;
        width: 164px;
        height: 51px;
        margin: auto;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #333;
        font-size: 15px;
        color: #fff;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    button, buttonA i {
        margin-left: 10px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    button, buttonA:hover i, button, buttonA:focus i, button, buttonA:active i {
        -webkit-animation-name: hvr-icon-wobble-horizontal;
        animation-name: hvr-icon-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    @@-webkit-keyframes hvr-icon-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }

        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@keyframes hvr-icon-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(6px);
            transform: translateX(6px);
        }

        33.3% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@media (max-width: 1199px) {
        .wrapper {
            background-position: right center;
        }
    }

    @@media (max-width: 991px) {
        .inner form {
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    @@media (max-width: 767px) {
        .inner {
            display: block;
        }

            .inner .image-holder {
                width: 100%;
            }

            .inner form {
                width: 100%;
                padding: 40px 0 30px;
            }
    }

    .buttonA {
        margin-top: -10px;
    }
    /*# sourceMappingURL=style.css.map */

</style>
<!-- #endregion -->

<script src="~/static/js/jquery.min.js"></script>

<div class="wrapper" style="background-image: url('/Images/元件/登入背景11.jpg'); ">
    <div class="inner">
        <div class="image-holder">
            <img src="~/Images/元件/登入背景12.jpg" alt="">
        </div>

        @using (Html.BeginForm("TaskerRegister", "TaskerMember", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h3>師傅資料登入</h3>

            <div id="autoFill" onclick="autoFill()">+</div>@*自動帶入註冊資料*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.EditorFor(model => model.TaskerName, new { htmlAttributes = new { id = "TaskerName", @class = "form-control", placeholder = "水電行名稱" } })
                @Html.ValidationMessageFor(model => model.TaskerName, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.ServiceQuote, new { htmlAttributes = new { id = "ServiceQuote", @class = "form-control", placeholder = "服務報價/趟" } })
                @Html.ValidationMessageFor(model => model.ServiceQuote, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.TaskerTel, new { htmlAttributes = new { id = "TaskerTel", @class = "form-control", placeholder = "水電行電話" } })
                @Html.ValidationMessageFor(model => model.TaskerTel, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.TaskerPhone, new { htmlAttributes = new { id = "TaskerPhone", @class = "form-control", placeholder = "手機" } })
                @Html.ValidationMessageFor(model => model.TaskerPhone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.ServiceTime_Start, new { htmlAttributes = new { id = "ServiceTime_Start", @class = "form-control", placeholder = "營業時間" } })
                @Html.ValidationMessageFor(model => model.ServiceTime_Start, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.ServiceTime_End, new { htmlAttributes = new { id = "ServiceTime_End", @class = "form-control", placeholder = "打烊時間" } })
                @Html.ValidationMessageFor(model => model.ServiceTime_End, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.DropDownListFor(model => model.ServiceArea, (IEnumerable<SelectListItem>)Session["cityList"], "請選擇服務地區", new { id = "ServiceArea", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServiceArea, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                <h5>服務類別</h5>
                @{
                    @Html.CheckBox("serviceCategoryChk1", false, htmlAttributes: new { @class = "test", id = "serviceCategoryChk1" })
                    @Html.Label("衛浴裝修", htmlAttributes: new { @class = "test", @for = "serviceCategoryChk1", style = "font-size: 17px" })
                    <br />
                    @Html.CheckBox("serviceCategoryChk2", false, htmlAttributes: new { @class = "test", id = "serviceCategoryChk2" })
                    @Html.Label("抓漏/堵塞", htmlAttributes: new { @class = "test", @for = "serviceCategoryChk2", style = "font-size: 17px" })
                    <br />
                    @Html.CheckBox("serviceCategoryChk3", false, htmlAttributes: new { @class = "test", id = "serviceCategoryChk3" })
                    @Html.Label("水電安裝/修繕", htmlAttributes: new { @class = "test", @for = "serviceCategoryChk3", style = "font-size: 17px" })
                    <br />
                }
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.License, new { htmlAttributes = new { id = "License", @class = "form-control", placeholder = "專業證照" } })
                @Html.ValidationMessageFor(model => model.License, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                @Html.EditorFor(model => model.Feature, new { htmlAttributes = new { id = "Feature", @class = "form-control", placeholder = "特色" } })
                @Html.ValidationMessageFor(model => model.Feature, "", new { @class = "text-danger" })
            </div>

            <div class="form-wrapper">
                <h5>服務詳情</h5>
                @Html.TextAreaFor(model => model.TaskerDescription, 10, 40, new { id = "TaskerDescription", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaskerDescription, "", new { @class = "text-danger" })
            </div>

            @*上傳師傅頭像*@
            <div class="form-wrapper">
                <h5>主頁頭像</h5>
                <p><input type="file" name="taskerPhoto" value="" /></p>
                @*<input type="submit" value="檔案上傳" />*@
                @Html.ValidationMessageFor(model => model.TaskerImage, "", new { @class = "text-danger" })
            </div>
            <br />

            @*上傳施工案例照片*@
            <div class="form-wrapper">
                <h5>施工案例照片</h5>
                <p><input type="file" name="casePhotos" value="" /></p>
                <p><input type="file" name="casePhotos" value="" /></p>
                <p><input type="file" name="casePhotos" value="" /></p>
                @*<input type="submit" value="檔案上傳" />*@
                @Html.ValidationMessageFor(model => model.CaseImage, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <br />

            <input type="hidden" name="Rate" value=5 />
            <input type="hidden" name="MemberID" value="@Session["MemberID"]" />
            @*20220402 師傅新增一個欄位Permission，當師傅會員要修改自己的資料時，會自動把Permission的值維持在 "2"*@
            <input type="hidden" name="Permission" value="2" />

            <input type="submit" value="送出" class="buttonA" />
            <br />
            <br />
        }

        @*@Html.ActionLink("Back to List", "Index")*@
    </div>
</div>

<script>
    $(document).ready(function () {
        // 自動帶入註冊資料
        $("#autoFill").click(function () {
            $("#TaskerName").val("熊厲害水電行")
            $("#ServiceQuote").val("600")
            $("#TaskerTel").val("04-2433-9768")
            $("#TaskerPhone").val("0970-052-182")
            $("#ServiceTime_Start").val("09:00")
            $("#ServiceTime_End").val("21:00")
            $("#ServiceArea").val("台中市")
            $("#serviceCategoryChk1").prop("checked", true )
            $("#serviceCategoryChk2").prop("checked", true )
            $("#serviceCategoryChk3").prop("checked", true )
            $("#License").val("乙級自來水管配管技術士")
            $("#Feature").val("親切和善、價錢公道、拒絕亂開價")
            var strDescription = "🚰關於水 ⚡️關於電 🛠修理 ☎️歡迎來電洽談📞\n服務❗️ 品質❗️ 價格❗️ 免費可到府估價‼️ 🚦到府檢修免收車馬費🚦\n" +
                "一、需求洽談\n歡迎點選本服務頁上方【立即通話】致電聯絡。二、到府勘查\n確認現場實際狀況，安排後續處理方式。\n" +
                "三、費用報價\n評估作業流程與難易度、使用的產品與耗材並提供報價。\n四、開始施工\n雙方安排施工期並簽訂施工合約。\n" +
                "五、驗收完工\n驗收與款項交付無誤即結案。"
            $("#TaskerDescription").val(strDescription)
        })
    })
</script>