@model DIY_v2.Models.Check
@{
    ViewBag.Title = "ProductDetail";
}

<style>
    /*    .price{
        box-sizing:border-box;
        overflow:hidden;
        width:150px;
    }*/
    .buy-button {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 12px 24px;
        border: 1px solid #a99c99;
        border-radius: 8px;
        background: #f1dfda;
        background: -webkit-gradient(linear, left top, left bottom, from(#f1dfda), to(#a99c99));
        background: -moz-linear-gradient(top, #f1dfda, #a99c99);
        background: linear-gradient(to bottom, #f1dfda, #a99c99);
        -webkit-box-shadow: #ffffff 0px 0px 40px 0px;
        -moz-box-shadow: #ffffff 0px 0px 40px 0px;
        box-shadow: #ffffff 0px 0px 40px 0px;
        text-shadow: #ffffff 1px 1px 1px;
        font: normal normal bold 16px arial;
        color: #111111;
        text-decoration: none;
    }

        .buy-button:hover,
        .buy-button:focus {
            border: 1px solid #f1dfda;
            background: #ffffff;
            background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cbbbb8));
            background: -moz-linear-gradient(top, #ffffff, #cbbbb8);
            background: linear-gradient(to bottom, #ffffff, #cbbbb8);
            color: #111111;
            text-decoration: none;
        }

        .buy-button:active {
            background: #a99c99;
            background: -webkit-gradient(linear, left top, left bottom, from(#a99c99), to(#a99c99));
            background: -moz-linear-gradient(top, #a99c99, #a99c99);
            background: linear-gradient(to bottom, #a99c99, #a99c99);
        }

        .buy-button:before {
            content: "\0000a0";
            display: inline-block;
            height: 24px;
            width: 24px;
            line-height: 24px;
            margin: 0 4px -6px -4px;
            position: relative;
            top: 0px;
            left: 0px;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABsklEQVRIibXVvWpUQRQH8F80xGUJQYRFIkFRQyLbaREkT2DjC6TwRaztfAUrCwuRPIBYWdqIhW4CfhJsNCLB3WRJFIs5406u3P2I6x+Ge86c/5wz55yZuTMSmo7jAL9MCU18xJdiPJmW8zJIHgt4i+VpOJ6Nb68y/wo38PmEfv+UeLaG0MGDIEKjkMt1R8VcyXmN29ir28EdPDIo23usFfq9GFlfC07Wn+MWnBqSwbJUuh62sVToR+gX+lJwsn5OlHdUgLnQt7FS2H9W+CvByT4v4NOwAHv4EUTYwmoNV9i2Qr4Y678P4YNnUhm62I9dd2P0C1s3bPuF7Wl2UpcBqUx30cJ1fMVi6PdjtHAe34LTijW5XEMDvMFVqWkfpH40Qs8Z9DAf87nJlw3KNTKDdsgH2DG43acL3pXYQH67ro2bQUc6HQvS2X4XAZvSRTsTcjtsTel4tmPtSMxh16CRhwaN7Vfkw4L3cBznGS+wPsmCKureoowObuLlBD6PPZwzI8jreIyzEzi/VA0yDhpT4vyFeWxKf7nN0CfiDDumsBGc1fhuTMoZFeC/459LNC5O3OTfmvd7Bl92lsYAAAAASUVORK5CYII=") no-repeat left center transparent;
            background-size: 100% 100%;
        }
</style>




<section class="ftco-section">
    <div class="container">

        <div class="row">
            <div class="Product-area shadow col-md-12">
                <h3>產品資訊</h3>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 mb-5 ftco-animate">
                            @*會彈出圖片*@
                            <a href="@Model.Products_normal[0].ProductImage" class="image-popup prod-img-bg"><img src="@Model.Products_normal[0].ProductImage" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="col-lg-6  pl-md-5 ftco-animate">
                            <h3 class="name">@Model.Products_normal[0].ProductName</h3>
                            <div class="rating d-flex">
                               
                                
                                <p class="text-left">
                                    <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">已售出</span></a>
                                </p>
                            </div>
                            <h3 class="price"><span>$@Model.Products_normal[0].ProductPrice</span></h3>


                            <p >@Html.Raw(@Model.Products_normal[0].ProductDescription)</p>



                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <p style="color: #000;">還剩 @Model.Products_normal[0].InStock 件</p>
                                </div>
                                <div class="input-group col-md-8 d-flex mb-3">
                                    <span class="input-group-btn mr-2">
                                        <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="" onclick="sub()">
                                            <i class="ion-ios-remove"></i>
                                        </button>
                                    </span>
                                    <input style="margin-top:0px; " type="text" id="quantity" name="quantity" class="quantity form-control input-number " value="1" min="1" max="100" >
                                    <span class="input-group-btn ml-3 ">
                                        <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="" onclick="add()">
                                            <i class="ion-ios-add"></i>
                                        </button>
                                    </span>
                                    &emsp;
                                    <div>
                                        @{
                                            if (@User.Identity.Name != String.Empty)
                                            {

                                                <button type="button" class="AdCar buy-button">
                                                    <b> 加入購物車 </b>
                                                </button>
                                                @*<input type="button" class="AdCar buy-button" value="加入購物車" />*@
                                            }
                                            else
                                            {
                                                <button type="button" class="buy-button" onclick="location.href='https://localhost:44332/MemberLogin/Login'">
                                                    <b> 加入購物車 </b>
                                                </button>
                                                @*<input type="button" class="toMember " value="加入購物車" onclick="location.href='https://localhost:44332/MemberLogin/Login'" />*@
                                                @*<a class="buy-button" href="https://localhost:44332/Tool/SetClickshopcar">加入購物車</a>*@

                                            }

                                        }
                                    </div>

                                </div>


                            </div>

                            <input type="hidden" class="Id" value=@Model.Products_normal[0].ProductID>
                            <input type="hidden" class="ProductPrice" value=@Model.Products_normal[0].ProductPrice>

                        </div>
                        
                            
                        </div>
                    </div>


            </div>
        </div>
        <!-- #region 留言區 -->
        <div class="row">
            <div class="Reply-area shadow col-md-12">

                <h4>商品評價</h4>
                @*注意: 有使用Inline margin*@
                <div style="margin-left: 30px;">
                    @{
                        if (Model.replies.Count > 0)
                        {
                            foreach (var item in Model.replies)
                            {
                                <h5>@item.MemberAccount</h5>
                                <div class="row">
                                    <div class="col-md-1"><img class="img-responsive" src="~/Images/TaskerImages/avatar_04.svg" alt="Alternate Text" style="width:35px;" /></div>
                                    <div class="col-md-11 embed-responsive">
                                        <div class="replyContent embed-responsive">@item.Replymain</div>
                                        <span><small>@item.Initdate</small></span>
                                    </div>
                                </div>
                                @*注意: 有使用Inline margin*@
                                @*<span style="margin-left: 60px;"><small>@item.Initdate</small></span>*@
                                <br />
                                <br />
                            }

                            #region 原本的
                            @*<div class="col-md-12">
                                    <table>
                                        <tr>
                                            <th>帳號名稱</th>
                                            <th>留言內容</th>
                                            <th>時間</th>
                                            <th>評分</th>
                                        </tr>
                                        <tr>
                                            <td>@Model.replies[0].MemberAccount</td>
                                            <td>@Model.replies[0].Replymain</td>
                                            <td>@Model.replies[0].Initdate</td>
                                            <td>@Model.replies[0].Star</td>
                                        </tr>
                                    </table>
                                </div>*@
                            #endregion

                        }
                    }
                </div>
                <div style=" display: flex;">
                    <div class="messageboardA column col-md-12">
                        @*<div class="column col-md-12">*@
                        <form method="post" action="@Url.Action("ProductDetail")">
                            <input type="hidden" name="ProductID" value="@Model.Products_normal[0].ProductID" />
                            <textarea class="reply-main" name="replymain" placeholder="請輸入你的評論"></textarea><br />
                            <input type="submit" value="送出" />
                        </form>
                        @*</div>*@
                    </div>
                </div>
                <br />
                <br />
            </div>
            <!-- #endregion -->
        </div>
    </div>



</section>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    var x = $('.carcount').text();
    $('.AdCar').click(function () {
        var ProductID = $('.Id').val();
        var ProductName = $('.name').text();
        var ProductPrice = parseInt($('.ProductPrice').val());
        var Quantity = parseInt($('.quantity').val());

        $.ajax({
            url: "https://localhost:44332/Tool/AddShoppingcar",
            type: "post",
            data: { "ProductID": ProductID, "ProductName": ProductName, "ProductPrice": ProductPrice, "Quantity": Quantity },
            success() {
                window.alert("已經加入購物車")
                x = (parseInt(x) + 1).toString();


                $('.carcount').text(x);
            }

        })
    })
    function add() {

        var num = parseInt($('.quantity').val());

        num = num + 1;

        $('.quantity').val(num.toString());
    }
    function sub() {

        var num = parseInt($('.quantity').val());
        num = num == 1 ? 1 : num - 1

        $('.quantity').val(num.toString());
    }



</script>