@model IPagedList<DIY_v2.Models.Product>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "商品管理系統";
        Layout = "../Shared/_LayoutForbackendUI.cshtml";
}
<style>
    .productImage {
        width: 100px;
        height: 100px;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet">

<div class="col-md-10">
    <section class="ftco-section " style="padding:0px; ">
        <h2>商品管理系統</h2>
        <div class="container-fluid">





            <p>
                @Html.ActionLink("新增商品", "AddProduct", new { }, htmlAttributes: new { @class = "btn btn-primary" })
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ProductImage)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ProductPrice)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ProductCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().InStock)
                    </th>


                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="productImage" src=@item.ProductImage>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStock)
                        </td>


                        <td>
                            @Html.ActionLink("修改", "EditProduct", new { ProductID = item.ProductID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("詳細資料", "ProductDetail", "Tool", new { ProductID = item.ProductID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("管理留言", "ManageReply", new { ProductID = item.ProductID }, new { @class = " btn btn-info" })
                            @Html.ActionLink("刪除", "DeleteProduct", new { ProductID = item.ProductID }, new { onclick = "return  confirm('確定刪除嗎?');", @class = " btn btn-danger" })

                        </td>
                    </tr>
                }

            </table>
            <!-- .col-md-8 -->



            @{ if (@Session["backkeyword"] != null)
                {
                    @Html.PagedListPager(Model, page => Url.Action("ManageProduct", new { page, keyword = @Session["backkeyword"] }))
                }
                else
                {
                    @Html.PagedListPager(Model, page => Url.Action("ManageProduct", new { page }))
                }
            }
        </div>

    </section>
</div>
 <!-- .section -->





