@model IPagedList<DIY_v2.Models.Member>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "會員管理系統";
}
@{
    Layout = "none";
}
@{
    Layout = "~/Views/Shared/_LayoutForbackendUI.cshtml";
}
<style>
    body {
        font-size: 18px;
    }
</style>


<div class="col-md-10">
    <h2>會員管理系統</h2>
    <style>
        a {
            color: black;
        }
    </style>
    <section class="ftco-section " style="padding:0px;">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-10 col-md-10 col-xs-12 order-lg-last ftco-animate">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].MemberAccount)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model[0].MemberName)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model[0].MemberNickname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].MemberEmail)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model[0].Permission)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberAccount)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberName)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberNickname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberEmail)
                                </td>


                                <td>
                                    @{
                                        if (@item.Permission == "1" || @item.Permission == "2")
                                        {
                                            <span>正常</span>
                                        }
                                        else
                                        {
                                            <span>停權</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("詳細資訊", "MemberDetail", new { MemberID = item.MemberID })
                                </td>
                            </tr>
                        }

                    </table>
                </div> <!-- .col-md-8 -->


            </div>
        </div>

    </section>
    <!-- .section -->
</div>

