@model DIY_v2.Models.Member

@{
    ViewBag.Title = "MemberDetail";
}
@{
    Layout = "~/Views/Shared/_LayoutForbackendUI.cshtml";
}
<div class="col-md-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>師傅狀態管理</h2>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberAccount)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberAccount)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberName):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberGender):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberGender)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberBirthday):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberBirthday)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberNickname):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberNickname)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberEmail):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberEmail)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberAddress):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberAddress)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MemberPhone):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MemberPhone)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Permission):
            </div>
            <div class="col-md-10">
                @{
                    if (@Model.Permission == "1" || @Model.Permission == "2")
                    {
                        <span>正常</span>
                    }
                    else
                    {
                        <span>停權</span>
                    }
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("停權", "StopMember", new { MemberID = Model.MemberID }, new { @class = "btn btn-primary" })


                @Html.ActionLink("啟用", "StarMember", new { MemberID = Model.MemberID }, new { @class = "btn btn-primary" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("回上一頁", "ManageMember", new { }, htmlAttributes: new { @class = "btn btn-info" })

            </div>

        </div>

    </div>


</div>





























